* {
  padding: 0;
  margin: 0;
  font-family: Bahnschrift;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 80%;
  margin-block: 20px;
}

#game-title {
  text-align: center;
  font-size: 40px;
}

#game-container {
  font-size: 80vh;
  width: 106.6666666667vh;
  display: flex;
  flex-direction: column;
}
#game-container #game-menu {
  font-size: 0.023em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.3em;
}
#game-container #game-menu #lifes-left-displayer {
  display: flex;
  align-items: center;
  gap: 1em;
}
#game-container #game-menu #lifes-left-displayer #lifes-images {
  display: flex;
  gap: 0.4em;
  height: 2em;
}
#game-container #game-menu #lifes-left-displayer #lifes-images .life-symbol {
  background: url("../img/heart.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 2em;
}
#game-container #canvas-container {
  position: relative;
  height: 80vh;
  width: 100%;
}
#game-container #canvas-container canvas {
  height: 100%;
  width: 100%;
}
#game-container #canvas-container #game-over-overlay {
  display: none;
  flex-direction: column;
  gap: 0.05em;
}
#game-container #canvas-container #game-over-overlay #game-over-message {
  color: white;
  font-size: 0.125em;
  text-transform: uppercase;
}
#game-container #canvas-container #game-over-overlay #play-again-button {
  font-size: 0.042em;
  padding: 0.3em 2.5em;
  border: solid white 1px;
  outline: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
}
#game-container #canvas-container #game-over-overlay #play-again-button:hover {
  border: solid rgb(144, 141, 141) 1px;
}
#game-container #canvas-container #game-over-overlay #play-again-button:active {
  border: solid rgb(74, 74, 74) 1px;
}
#game-container #canvas-container #play-overlay {
  display: flex;
}
#game-container #canvas-container #play-overlay #play-button {
  height: 20%;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
#game-container #canvas-container #play-overlay #play-button svg {
  fill: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}
#game-container #canvas-container #play-overlay #play-button:active svg {
  fill: rgb(193, 193, 193);
}

.overlay {
  position: absolute;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.537254902);
}

#rules {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#rules .mario-text {
  color: #f1120c;
}
#rules .luigi-text {
  color: #0da91c;
}
#rules .antasma-text {
  color: #7b4ab4;
}
#rules #rules-body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#rules table {
  text-align: center;
  border-collapse: collapse;
}
#rules table img {
  height: 28px;
}
#rules th {
  border-bottom: 1px solid black;
}
#rules td {
  padding: 5px 18px;
}
#rules p {
  text-align: justify;
  margin-bottom: 10px;
  font-size: 16px;
}
#rules h2 {
  font-size: 40px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, black, transparent 15em) 1;
}
#rules h3 {
  font-size: 25px;
  margin-bottom: 20px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, black, transparent 10em) 1;
}
#rules h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
#rules ul {
  padding-left: 50px;
}
#rules #commands-section i {
  margin-inline: 10px;
  font-size: 24px;
}/*# sourceMappingURL=style.css.map */