$canvasBackgroundColor: #481058;
$canvasHeight: 85vh;

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    //background-color: $canvasBackgroundColor;
    height: $canvasHeight;
}

#canvas-container {
    position: relative;
    height: $canvasHeight;
}

.overlay {
    position: absolute;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #00000089;
}

#game-over-overlay {
    //background-color: #00000089;
}

#game-over-message {
    color: white;
    font-family: Bahnschrift;
    font-size: 6vh;
}

#play-overlay {
    display: flex;
}

#play-button {
    $play-button-height: 12%;
    height: $play-button-height;
    width: $play-button-height;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    
    svg {
        fill: rgb(255, 255, 255);
    }


    &:active {
        svg {
            fill: rgb(193, 193, 193);
        }
    }
}