$canvasBackgroundColor: #481058;
$canvasHeight: 80vh;
$canvasWidth: calc($canvasHeight * 4 / 3);

* {
    padding: 0;
    margin: 0;
    font-family: Bahnschrift;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-container {
    position: relative;
    height: $canvasHeight;
    width: $canvasWidth;

    canvas {
        height: $canvasHeight;
        width: $canvasWidth;
    }

    #game-over-overlay {
        //background-color: #00000089;
        display: none;
        flex-direction: column;
        gap: 30px;
    
        #game-over-message {
            color: white;
            font-size: 72px;
            text-transform: uppercase;
        }
    
        #play-again-button {
            font-size: 24px;
            padding: 10px 50px;
            border: solid white 1px;
            outline: none;
            color: white;
            background-color: transparent;
            cursor: pointer;
    
            &:hover {
                border: solid rgb(144, 141, 141) 1px;
            }
    
            &:active {
                border: solid rgb(74, 74, 74) 1px;
            }
        }
    }
    
    #play-overlay {
        display: flex;

        
        #play-button {
            $play-button-height: 12%;
            height: $play-button-height;
            width: $play-button-height;
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            
            svg {
                fill: rgb(255, 255, 255);
            }


            &:active {
                svg {
                    fill: rgb(193, 193, 193);
                }
            }
        }
    }
}

.overlay {
    position: absolute;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #00000089;
}

#game-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 7px;

    #lifes-left-displayer {
        display: flex;
        align-items: center;
        font-size: 16px;
        gap: 10px;
    
        #lifes-images {
            display: flex;
            gap: 7px;
            height: 2em;
    
            .life-symbol {
                background: url('../../img/heart.png');
                background-size: cover;
                background-position: center;
                height: 100%;
                width: 2em;
            }
            
        }
    }
}